body{

  text-align: center;
  margin: 0;
 
  color:#40514E;
  background-image: linear-gradient(to bottom,#fffde9, #ffffff);
  font-family:helvetica, verdana, sans-serif;
 
}
hr{

  width:3.7%;
  border-color: #8CA1A5;
  border-spacing: 2px;
  border-style: none;
  border-top-style: dotted;
  border-width: 12px;
  background-color: none;
}

#name{
  font-family: 'Sacramento', cursive;
  position:relative;
  top: 20%;
  font-size: 4em;
  line-height: 2;
  text-underline-offset: 2px;
  text-underline-position: below;
  color: #2c3334;
  margin: auto;
  
}
h1{
  font-family: 'Sacramento', cursive;
  
  font-size: 4em;
  line-height: 2;
  text-underline-offset: 2px;
  text-underline-position: below;
  color: #2c3334;
  
}
.top{
  font-family: 'Caveat', cursive;
  position: relative;
  font-size: 1.5em;
  top: 15%;
  left: 10%;
  margin: auto;
  font-weight: normal;
  color: #2c3334;
  
}

.img{
  display: block;
  height: 25%;
  width: 25%;

  margin: 100px auto 50px auto;
}
.development{
  height: 25%;
  width: 25%;
  margin-right: 30px;
  
  float: left;
}
.hobbies{
  height: 25%;
  width: 25%;
  margin-left: 30px;
  float: right;
  
}


.top-cloud{
  position: absolute;
  width: 8%;
  bottom: 35%;
  right: 10%;
}

.balloon{
  width:10%;
  display: inline-block;
  left: 25%;
  margin: 0 0 0 50%;
}
.top-container{
  background-image: linear-gradient(to bottom,#42afdb, #fffde9);
  height:800px;
  width: 100vw;
  
}
.mountain{
  
  display: block;
  position: absolute;
  bottom: 0%;
  width: 100vw;
  
  
}
.bottom-container{
  
  width: 100vw;
  padding: 0 0 50px 0;
  background-image: linear-gradient(to bottom ,white, #00c4f09c);
}

.footer-img{
  

  width: 25px;
  height: 25px;
  position: relative;
  top: 55%;
  display: inline-block;  
}
.quote{
  align-items: center;
  font-size: 40px;
  font-family: 'Caveat', cursive;
}
.lower{
  position: relative;
  top: 55%;
}
.hello-body{
  
  text-align: center;
  width: 50%;
  margin: 10px auto 10px auto;
  line-height: 2;
}
#connect{
  position: relative;
  top: 53%;
  margin: auto;
  font-style: bold;
  font-size: 20px;
  text-decoration: none;
  color:#40514E;
  font-family: 'Dancing Script', cursive;
}
#connect:hover{
  color: brown;
}
#My-Skills{
  margin: auto;
  font-style: bold;
  font-size: 3em;
  font-family: 'Dancing Script', cursive;
}
.My-Skills{
  width: 100vw;
  height: 110px;
  margin: 50px auto 50px auto;
  text-align: center;
  background-color: #6ce2e6;
  
}
#writter{
  font-size: 30px;
  
  margin-left: 800px;
}
#red{
  color: red;
}
#green{
  color: #009659;
}
h3,h2{
  color: #11999E;
  font-family: 'Dancing Script', cursive;
}
.profile{
  width: 50%;
  margin: 100px auto 100px auto;
}
.skill-row{
  width: 50%;
  font-size: 16px;
 margin: 100px auto 100px auto; 
  text-align: left;
  line-height: 2;
}